<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      layout:decorate="~{layout}">

<body>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

    <div class="list-group">
        <a href="/login" class="list-group-item active" th:if="!${#httpServletRequest.remoteUser}">业主认证</a>
        <a href="/login" class="list-group-item active" th:if="${#httpServletRequest.remoteUser}">欢迎:[[${#httpServletRequest.remoteUser}]]</a>
        <a href="/infos/send" class="list-group-item">提供服务</a>
        <a href="/infos/ask" class="list-group-item">我要求助</a>
    </div>
</div>
</body>
</html>